# Directory with imported data
/data/

# Logfiles and output data
/out/
/log/

# Byte-compiled, optimized, DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm virtualenv
/venv/

# Top-level configuration files
/*.json
